<%- include("partials/header") %>
<br>
<div class="row">
<div class="col-md-12 text-center">
	<h1>
	Sign-Up
    </h1>
</div>
<div class="col">
	
</div>
<div class="col-md-4 col-sm-8 col-10">
	<form action="/register" method="POST">
		
		<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="username">
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="password" placeholder="password">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="firstName" placeholder="first name">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="lastName" placeholder="last name">
		</div>
		<div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="email">
        </div>
		<div class="form-group">
			<input class="form-control" type="text" name="avatar" placeholder="avatar url">
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="adminCode" placeholder="admin code">
		</div>
		
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">
			Sign-Up
		    </button>
			<hr>
			<a class = "btn btn-success" href="/">Go Back</a>
		</div>
    </form>
</div>
	<div class="col">
	
    </div>
</div>
<%- include("partials/footer") %>